<div
  (mouseenter)="changeButtonsVisibility(true)"
  (mouseleave)="changeButtonsVisibility(false)"
  class="relative mt-3 cursor-pointer select-none"
>
  <!-- Carousel element -->
  <app-awesome-carousel
    [values]="houseModel.images"
    [itemsTemplate]="template"
    [areActionButtonsVisible]="areButtonsVisible"
  >
  </app-awesome-carousel>
  <ng-template let-image #template>
    <div class="h-56">
      <img
        class="h-full w-full object-cover"
        src="../../assets/Casas/{{ image }}"
      />
    </div>
  </ng-template>

  <span class="block text-ellipsis text-sm font-semibold text-gray-900">
    {{ houseModel.region }}</span
  >
  <span class="block text-ellipsis text-sm text-gray-500"
    >{{ houseModel.area }} metros cuadrados</span
  >
  <span class="block text-ellipsis text-sm text-gray-500"
    >1 al 13 de junio</span
  >
  <span class="block text-ellipsis text-sm font-semibold text-gray-900"
    >{{ houseModel.price | currency : "" : "symbol" }} por noche</span
  >
  <svg
    (click)="toggleState()"
    [class.selected]="state"
    [attr.data-state]="state"
    class="absolute top-4 right-4 h-8 w-8 scale-75 cursor-pointer fill-black stroke-white stroke-2 opacity-50 hover:opacity-70 data-[state=true]:fill-red-600 data-[state=true]:opacity-100"
  >
    <path [attr.d]="heart_icon_path"></path>
  </svg>
</div>
