<div class="global-container group relative">
  <!-- In here I will put all the children elements -->
  <div
    #itemsContainer
    class="items-container flex flex-row flex-nowrap items-stretch justify-start overflow-hidden scroll-smooth rounded-xl"
  >
    <div class="w-full shrink-0" *ngFor="let value of values">
      <ng-container
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{ $implicit: value }"
      ></ng-container>
    </div>
  </div>

  <!-- Action buttons -->
  <div
    class="action-buttons-container absolute top-0 bottom-0 left-0 right-0 flex h-full w-full flex-row items-center justify-between"
  >
    <button
      (click)="moveBack()"
      [attr.data-visibility]="
        areActionButtonsVisible && !isCurrentIndexBottom()
      "
      class="mx-2 rounded-full bg-white p-1 text-black opacity-0 transition-opacity duration-300 hover:scale-105 data-[visibility=true]:opacity-100"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      (click)="moveForward()"
      [attr.data-visibility]="areActionButtonsVisible && !isCurrentIndexTop()"
      class="mx-2 rounded-full bg-white p-1 text-black opacity-0 transition-opacity duration-300 hover:scale-105 data-[visibility=true]:opacity-100"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <!-- Indicator elements -->
  <div
    class="indicator-elements-container absolute bottom-2 left-0 right-0 flex h-5 flex-row items-center justify-center space-x-2 text-center"
  >
    <div
      #scrolleableIndicator
      class="container relative flex w-14 flex-row justify-start space-x-1.5 overflow-hidden scroll-smooth"
    >
      <div
        [attr.data-selected]="i === animatedCurrentIndex"
        class="h-1.5 w-1.5 shrink-0 grow-0 rounded-full bg-white opacity-50 transition-opacity duration-200 data-[selected=true]:opacity-100"
        *ngFor="let led of values; index as i"
      ></div>
    </div>
  </div>
</div>
