.global-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  height: var(--footprint_bar_height);
  background-color: black;
  color: white;
}

.foot-printbar-placeholder {
  height: var(--footprint_bar_height);
}
