<div
  class="global-container text-ss fixed bottom-0 left-0 right-0 flex h-foot-printbar flex-row justify-between border-y border-y-gray-200 bg-white px-20"
>
  <div class="flex flex-row items-center justify-start space-x-1 text-gray-600">
    <span
      ><mat-icon class="mb-1 scale-50">copyright</mat-icon>2023 Airbnb, Inc.
    </span>
    <span class="mb-2">.</span>
    <button class="hover:underline">Términos</button>
    <span class="mb-2">.</span>
    <button class="hover:underline">Mapa del sitio</button>
    <span class="mb-2">.</span>.
    <button class="hover:underline">Privacidad</button>
    <span class="mb-2">.</span>
    <button class="hover:underline">Your Privacy Choices</button>
    <div class="image-container pl-1">
      <img class="h-4" src="assets/Your privacy choices.PNG" />
    </div>
  </div>
  <div class="flex flex-row items-center space-x-5 text-gray-800">
    <button>
      <mat-icon class="scale-75">language</mat-icon
      ><span class="hover:underline">Español(US)</span>
    </button>
    <button>$ <span class="hover:underline">USD</span></button>
    <button>
      <span class="hover:underline">Ayuda y recursos</span
      ><mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
</div>

<div class="foot-printbar-placeholder h-foot-printbar"></div>
