<div
  class="flex h-filterbar w-full flex-row items-stretch justify-center space-x-2 bg-white px-0 shadow-md md:px-10 lg:px-20"
>
  <p-carousel
    class="overflow-hidden"
    [value]="categories"
    [showIndicators]="false"
    [showNavigators]="areNavigatorsVisible"
    [numVisible]="15"
    [numScroll]="5"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-category pTemplate="item">
      <div
        (click)="selectedCategoryLabel = category.label"
        [attr.data-selected]="selectedCategoryLabel === category.label"
        class="group relative mx-2 flex h-filterbar cursor-pointer select-none flex-col items-stretch justify-center rounded-lg opacity-60 transition-all duration-200 hover:opacity-100 active:bg-gray-50 data-[selected=true]:opacity-100"
      >
        <div class="flex flex-row items-start justify-center">
          <img class="h-5 w-5" src="assets/categories/{{ category.icon }}" />
        </div>
        <span class="whitespace-nowrap text-center text-xs">{{
          category.label
        }}</span>
        <div
          [attr.data-selected]="selectedCategoryLabel === category.label"
          class="absolute bottom-0 left-0 right-0 h-0.5 bg-black underline opacity-0 group-hover:opacity-20 data-[selected=true]:opacity-100"
        ></div>
      </div>
    </ng-template>
  </p-carousel>
  <div class="hidden flex-col justify-center md:flex">
    <button
      (click)="showDialog()"
      class="flex space-x-2 rounded-xl border border-gray-200 p-3"
    >
      <i class="pi pi-sliders-h"></i>
      <span class="text-xs">Filters</span>
    </button>
  </div>

  <p-dialog
    [draggable]="false"
    [modal]="true"
    position="bottom"
    header="Title"
    [(visible)]="IsFiltersDialogVisible"
    [style]="{ width: '90vw', height: '100%' }"
  >
    <ng-template pTemplate="header"> Header content here </ng-template>
    <div class="h-full bg-green-700"></div>
  </p-dialog>
</div>
